# TODO: Create config for remote machines
# Remote machines don't have to have visual plugins, only vim-motions
# and default prefix to not overlap with home machine

# I like vim motions
set -g mode-keys vi

# Set prefix to CTRL-a
unbind C-b
set -g prefix C-a
bind -n C-a send-prefix

# Nice plugins here
set -g @plugin "nordtheme/tmux" # Simple theme
set -g @plugin 'alexwforsythe/tmux-which-key' # Popup menu with keys
set -g @plugin 'tmux-plugins/tmux-sensible' # Community-driven common settings
set -g @plugin 'tmux-plugins/tmux-pain-control' # Pane controlling bindings
set -g @plugin 'tmux-plugins/tmux-resurrect' # Restore tmux environment after system restart.
set -g @plugin 'tmux-plugins/tmux-continuum' # Automatic restoring tmux sessions after reboot.
set -g @plugin 'tmux-plugins/tmux-sessionist' # Easy manipulating sessions
set -g @plugin 'tmux-plugins/tpm' # Managing plugins

set -g @continuum-boot 'on' # Start tmux server upon login
set -g @continuum-restore 'on' # Restore last saved environment
set -g @resurrect-strategy-nvim 'session'

# Make tpm aware of non-usual plugins install dir
set-environment -g TMUX_PLUGIN_MANAGER_PATH '~/.local/share/tmux/plugins/'

# Tidying up config a little
if "test ! -d ~/.local/share/tmux/plugins/tpm" \
   "run 'git clone https://github.com/tmux-plugins/tpm ~/.local/share/tmux/plugins/tpm && ~/.local/share/tmux/plugins/tpm/bin/install_plugins'"

run '~/.local/share/tmux/plugins/tpm/tpm'
# When just cloned to new machine run CTRL-a+I to install plugins
